mixin menu(o, element)
  ul
    each val in o.children
      - if (val.type == 'folder' && val.tags.includes('document'))
        li
          - if (val.tags.includes('has_index'))
            a(href=val.url, class=val.index.url == element.url ? 'selected' : null)= val.nice_name
          - else
            span= val.nice_name
        +menu(val, element)
      - else if (val.type == 'file' && val.tags.includes('document') && !val.tags.includes('is_index'))
        li
          a(href=val.url, class=val.url == element.url ? 'selected' : null)= val.nice_name
