include _mixin/menu.pug

block root
  doctype html
  head
    meta(charset='utf-8')
    title 💮💮 deuxfleurs - #{title}
    link(rel="stylesheet", href="/css/main.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    aside
      header
        a#menu(href="#").mobile_inline
          svg(viewBox="0 0 100 80", width="40", height="40")
            rect(width="100", height="20")
            rect(y="30" width="100" height="20")
            rect(y="60" width="100" height="20")

        h1
          a(href="/") deuxfleurs
        nav.computer_block
          section.center
            img(src="/img/flower.svg", width="40")
            | 
            img(src="/img/flower.svg", width="40")
          +menu(root, element)
        
    main
      block content
 
    script.
      (_ => {
        const hamburger = document.getElementById('menu')
        hamburger.onclick = _ => {
          const nav = document.querySelector('body > aside > header > nav')
          console.log(nav.style.display)
          nav.style.display = nav.style.display != 'block' ? 'block' : 'none'
        }
      })()
