extends _layout.pug

prepend root
  - title = "deuxfleurs"

block content
  section
    img(style="width: 100%; margin:-0.5rem;", src="/img/flower.png")

  section
    h2 # nos services
    section
      a.service-box.left(href='/Guide/Discussion.html')
        div(style='font-size: 80px; height: 120px') 💬
        h5 discussion
      a.service-box.left(href='/Guide/Visioconférence.html')
        div(style='font-size: 80px; height: 120px') 📞
        h5 visioconférence
      a.service-box.left(href='/Guide/Sites web.html')
        div(style='font-size: 80px; height: 120px') 🌐
        h5 sites web
      a.service-box.left(href='https://cloud.deuxfleurs.fr')
        div(style='font-size: 80px; height: 120px') 🔒
        h5 sauvegarde de documents
      a.service-box.left(href='https://sogo.deuxfleurs.fr')
        div(style='font-size: 80px; height: 120px') 📨
        h5 emails
      a.service-box.left(href='https://p.adnab.me')
        div(style='font-size: 80px; height: 120px') 📄
        h5 collaboration
      a.service-box.left(href='https://git.deuxfleurs.fr')
        div(style='font-size: 80px; height: 120px') 💻
        h5 code

    p ⚠️  Vous devez être membre pour utiliser ces services.&nbsp; Faisons connaissance d'abord 👇
   
  section
    h2 # nos valeurs
   
    section(style="padding-left:1.5rem")
      h3 ⇨ protèger la vie privée
      h3 ⇨ défendre la liberté d'expression
      h3 ⇨ ne pas se laisser manipuler
      h3 ⇨ choisir la sobriété numérique
      h3 ⇨ prendre les décisions ensemble
      h3 ⇨ mettre en commun nos connaissances et nos infrastructures

  section
    h2 # nos articles

    article.frame
      p.right
        em Par Quentin, le 20 avril 2020
      h4 
        a(href="https://quentin.dufour.io/blog/2020-04-20/stopcovid/") StopCovid : anonymat et autorités
      p 
        | "StopCovid sera totalement anonyme. L'État ne pourra rien savoir sur vous." Non, c'est FAUX, l'État connaitra votre identité et pourrait vous assigner à résidence sans recours possible. Nous vous expliquons pourquoi en nous basant sur le document technique de l'application.
        | 
        a(href="https://quentin.dufour.io/blog/2020-04-20/stopcovid/") Lire la suite.

  section
    h2 # faisons connaissance
    p.spacing Nous fonctionnons actuellement selon un mode de cooptation qui nous permet d'une part de mieux contrôler l'utilisation des ressources et éviter les abus, et d'autre part de créer et garder un contact humain avec nos utilisateurs. 
    p.spacing
      | Si vous connaissez un membre de l'association, contactez le directement pour qu'il vous créer un compte.  
      br
      | Sinon, vous pouvez nous écrire à coucou<img class="simple" src="img/arobase.png" height="15"/>deuxfleurs.fr.

