extends ../_layout.pug

prepend root
  - title = "Discussions"


block content
  .spacing
    p Pour discuter entre nous, nous utilisons le réseau <a href="https://matrix.org/">Matrix</a>. C'est un réseau de discussion instantanée libre, et qui fonctionne très bien. Le logiciel <a href="https://riot.im">Riot</a> est le client, c'est à dire l'application qu'on utilise pour se connecter à Matrix.

  
    h2 Accès rapide à Riot

    section
      a.service-box.left(href='https://riot.deuxfleurs.fr')
        div(style='font-size: 80px; height: 120px') 🌐
        h5 Accéder via le navigateur
      a.service-box.left(href='https://play.google.com/store/apps/details?id=im.vector.app&hl=fr')
        div(style='font-size: 80px; height: 120px') 📥
        h5 Application Android
      a.service-box.left(href='https://apps.apple.com/fr/app/riot-im/id1083446067')
        div(style='font-size: 80px; height: 120px') 📥
        h5 Application iOS

    h2 Guide d'utilisation sur ordinateur

    p Adrien a écrit un <a href="https://zinz.dev">guide d'installation/utilisation du résau Matrix</a> qui devrait vous aider à vous lancer. À l'inscription, remplacez <code>zinz.dev</code> par <code>im.deuxfleurs.fr</code> si vous souhaitez vous inscrire sur le serveur de l'asso.

    h2 Premiers pas sur Android

    .screenlist
      img(src="Assets/riot_install4.png", height="400")
      img(src="Assets/riot_install5.png", height="400")
      img(src="Assets/riot_connect2.png", height="400")
      img(src="Assets/riot_connect25.png", height="400")
      img(src="Assets/riot_connect3.png", height="400")
      img(src="Assets/riot_connect4.png", height="400")
      img(src="Assets/riot_connect5.png", height="400")

    style.
      .screenlist > img {
        padding: 20px;
      }
